.page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Change from 1440px to 100% */
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  background-color: var(--background);
  overflow: hidden;
  margin: 0; /* Ensure no margin is causing overflow */
  padding: 0; /* Remove padding if necessary */
}

.navbarLogo{
  width: auto;
  height: 60px;
  padding-left: 2rem;
}

.page .navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0px 10px #2f7af91a;
  padding-right: 2rem;
}

.page .logo {
  position: relative;
  width: 158px;
  height: 76px;
  background-image: url(../../assets/logo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.page .menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  flex: 0 0 auto;
}

.page .home {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
  border-radius: 5px;
  transform: rotate(90deg);
}

.page .div-wrapper {
  display: inline-flex;
  height: 37px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  margin-left: -1.5px;
  margin-right: -1.5px;
  border-radius: 10px;
  transform: rotate(-90deg);
}

.page .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.page .skills {
  position: relative;
  width: 63px;
  height: 37px;
}

.page .div {
  display: inline-flex;
  height: 37px;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  position: relative;
  background-color: #ffb400;
  border-radius: 5px;
}

.page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.page .services {
  position: relative;
  width: 67px;
  height: 17px;
}

.page .services-2 {
  width: 69px;
  position: relative;
  height: 17px;
}

.page .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.page .services-wrapper {
  width: 55px;
  position: relative;
  height: 17px;
}

.page .services-3 {
  width: 57px;
  position: relative;
  height: 17px;
}

.page .services-4 {
  width: 125px;
  position: relative;
  height: 17px;
}

.page .services-5 {
  width: 127px;
  position: relative;
  height: 17px;
}

.page .services-6 {
  width: 54px;
  position: relative;
  height: 17px;
}

.page .services-7 {
  width: 56px;
  position: relative;
  height: 17px;
}

.page .skills-2 {
  display: flex;
  flex-direction: column;
  width: 1244px;
  align-items: center;
  gap: 45px;
  position: relative;
  flex: 0 0 auto;
}

.page .text {
  position: relative;
  width: 1249px;
  height: 132.27px;
  margin-left: -0.5px;
  margin-right: -4.5px;
}

.page .skills-langauges {
  position: absolute;
  width: 1245px;
  top: 0;
  left: 0;
  font-family: var(--h2-32px-font-family);
  font-weight: var(--h2-32px-font-weight);
  color: var(--black);
  font-size: var(--h2-32px-font-size);
  text-align: center;
  letter-spacing: var(--h2-32px-letter-spacing);
  line-height: var(--h2-32px-line-height);
  white-space: nowrap;
  font-style: var(--h2-32px-font-style);
}

.page .amet-minim-mollit {
  position: absolute;
  width: 438px;
  top: 63px;
  left: 404px;
  font-family: var(--p-15px-paragraph-font-family);
  font-weight: var(--p-15px-paragraph-font-weight);
  color: var(--paragraph-font);
  font-size: var(--p-15px-paragraph-font-size);
  text-align: center;
  letter-spacing: var(--p-15px-paragraph-letter-spacing);
  line-height: var(--p-15px-paragraph-line-height);
  font-style: var(--p-15px-paragraph-font-style);
}

.page .skills-container {
  /* display: flex;
  align-items: flex-start; */
  display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    /* gap: 20px; Space between cards */
    margin-bottom: 30px;
  gap: 45px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page .skill {
  position: relative;
  width: 385px;
  height: 316px;
  background-color: var(--white);
}

.page .skills-1 {
  position: relative;
  width: 293px;
  height: 244px;
  top: 35px;
  left: 52px;
}

.page .text-wrapper-4 {
  position: absolute;
  width: 209px;
  top: 0;
  left: 0;
  font-family: var(--h4-18px-font-family);
  font-weight: var(--h4-18px-font-weight);
  color: var(--black);
  font-size: var(--h4-18px-font-size);
  letter-spacing: var(--h4-18px-letter-spacing);
  line-height: var(--h4-18px-line-height);
  white-space: nowrap;
  font-style: var(--h4-18px-font-style);
}

.page .html {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 37px;
  left: 0;
}

.page .text-wrapper-5 {
  width: 45px;
  top: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: var(--paragraph-progress-15-font-style);
}
.page .skill-domain {
  display: flex;
  justify-content: space-between;
  font-family: var(--h4-18px-font-family);
  font-weight: var(--h4-18px-font-weight);
  color: var(--black);
  font-size: var(--h4-18px-font-size);
  letter-spacing: var(--h4-18px-letter-spacing);
  line-height: var(--h4-18px-line-height);
  white-space: nowrap;
  font-style: var(--h4-18px-font-style);
  margin-bottom: 18px;
}

.page .each-skill {
  display: flex;
  justify-content: space-between;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.each-skill-wrapper {
  margin-bottom: 10px; /* Space between each skill */
}

.progress-bar {
  height: 5px; /* Height of the progress bar */
  /* background-color: #e0e0e0; Background for the empty bar */
  
  border: 0.5px solid;
  border-color: #ffb400;
  
  border-radius: 3px; /* Rounded corners */
  margin-top: 5px; /* Space between skill/proficiency and progress bar */
}

.filled-bar {
  height: 100%; /* Fill the entire height of the progress bar */
  background-color: #ffb400; /* Filled bar color */
  border-radius: 3px; /* Rounded corners */
  transition: width 0.5s ease; /* Smooth transition for width change */
}

.page .text-wrapper-6 {
  position: absolute;
  width: 41px;
  top: 0;
  left: 250px;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .line {
  position: absolute;
  width: 291px;
  height: 4px;
  top: 67px;
  left: 0;
}

.page .overlap-group {
  width: 292px;
  height: 5px;
  border-radius: 30px;
  border: 0.5px solid;
  border-color: #ffb400;
}

.page .rectangle {
  position: relative;
  width: 276px;
  height: 2px;
  top: 1px;
  left: 1px;
  background-color: var(--yellow);
  border-radius: 30px;
}

.page .CSS {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 81px;
  left: 0;
}

.page .text-wrapper-7 {
  width: 41px;
  top: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .overlap-wrapper {
  top: 110px;
  position: absolute;
  width: 291px;
  height: 4px;
  left: 0;
}

.page .rectangle-2 {
  position: relative;
  width: 273px;
  height: 2px;
  top: 1px;
  left: 1px;
  background-color: var(--yellow);
  border-radius: 30px;
}

.page .js {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 124px;
  left: 0;
}

.page .text-wrapper-8 {
  width: 21px;
  top: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .overlap-group-wrapper {
  top: 154px;
  position: absolute;
  width: 291px;
  height: 4px;
  left: 0;
}

.page .rectangle-3 {
  position: relative;
  width: 265px;
  height: 2px;
  top: 1px;
  left: 1px;
  background-color: var(--yellow);
  border-radius: 30px;
}

.page .PHP {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 168px;
  left: 0;
}

.page .text-wrapper-9 {
  position: absolute;
  width: 40px;
  top: 0;
  left: 251px;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .line-2 {
  top: 197px;
  position: absolute;
  width: 291px;
  height: 4px;
  left: 0;
}

.page .rectangle-4 {
  position: relative;
  width: 247px;
  height: 2px;
  top: 1px;
  left: 1px;
  background-color: var(--yellow);
  border-radius: 30px;
}

.page .word-press {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 211px;
  left: 0;
}

.page .word-press-2 {
  position: absolute;
  width: 103px;
  top: 0;
  left: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .line-3 {
  top: 240px;
  position: absolute;
  width: 291px;
  height: 4px;
  left: 0;
}

.page .skills-4 {
  position: relative;
  width: 293px;
  height: 114px;
  top: 35px;
  left: 47px;
}

.page .text-wrapper-10 {
  position: absolute;
  width: 103px;
  top: 0;
  left: 0;
  font-family: var(--h4-18px-font-family);
  font-weight: var(--h4-18px-font-weight);
  color: var(--black);
  font-size: var(--h4-18px-font-size);
  letter-spacing: var(--h4-18px-letter-spacing);
  line-height: var(--h4-18px-line-height);
  white-space: nowrap;
  font-style: var(--h4-18px-font-style);
}

.page .text-wrapper-11 {
  width: 58px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .skills-wrapper {
  position: relative;
  margin-right: -1px;
  width: 385px;
  height: 316px;
  background-color: var(--white);
}

.page .skills-5 {
  position: relative;
  width: 293px;
  height: 114px;
  top: 35px;
  left: 56px;
}

.page .text-wrapper-12 {
  position: absolute;
  width: 230px;
  top: 0;
  left: 0;
  font-family: var(--h4-18px-font-family);
  font-weight: var(--h4-18px-font-weight);
  color: var(--black);
  font-size: var(--h4-18px-font-size);
  letter-spacing: var(--h4-18px-letter-spacing);
  line-height: var(--h4-18px-line-height);
  white-space: nowrap;
  font-style: var(--h4-18px-font-style);
}

.page .html-2 {
  width: 295px;
  height: 25px;
  top: 37px;
  position: absolute;
  left: 0;
}

.page .node-JS {
  position: absolute;
  width: 64px;
  top: 0;
  left: 0;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: var(--paragraph-font);
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

.page .skills-row-2 {
  position: relative;
  width: 1245px;
  height: 316px;
  margin-left: -0.5px;
  margin-right: -0.5px;
}

.page .skill-2 {
  position: absolute;
  width: 385px;
  height: 316px;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.page .skill-3 {
  position: absolute;
  top: 0;
  left: 430px;
  width: 385px;
  height: 316px;
  background-color: var(--white);
}

.page .skill-4 {
  position: absolute;
  top: 0;
  left: 860px;
  width: 385px;
  height: 316px;
  background-color: var(--white);
}

.page .add-skill {
  display: flex;
  width: 151px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 17px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffb400;
  border-radius: 5px;
}

.page .add-skill-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.page .img {
  position: relative;
  width: 970px;
  height: 144px;
}

.page .frame {
  display: flex;
  gap: 50px;
  padding: 45px 98px 0px;
  align-self: stretch;
  width: 100%;
  background-color: var(--background);
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.page .logo-2 {
  position: relative;
  width: 158px;
  height: 76px;
  background-image: url(../../assets/logo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.page .frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page .logos {
  display: flex;
  flex-direction: column;
  width: 177px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.page .upwork {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page .rectangle-5 {
  position: relative;
  width: 91px;
  height: 40px;
}

.page .element-rating-on {
  height: 21px;
  white-space: nowrap;
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.page .dribble {
  display: flex;
  flex-direction: column;
  width: 149px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.page .group {
  position: relative;
  width: 73px;
  height: 40px;
  background-image: url(../../assets/rating2.png);
  background-size: 100% 100%;
}

.page .element-rating-on-ipsum {
  position: relative;
  align-self: stretch;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.page .fiverr {
  display: flex;
  flex-direction: column;
  width: 146px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.page .rectangle-6 {
  position: relative;
  width: 76px;
  height: 40px;
}

.page .element-rating-on-2 {
  height: 25px;
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.page .links {
  display: inline-flex;
  align-items: flex-start;
  gap: 170px;
  position: relative;
  flex: 0 0 auto;
}

.page .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.page .heading {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.page .frame-3 {
  display: inline-flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.page .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
}

.page .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.page .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.page .social {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.page .linked-in {
  position: relative;
  width: 100px;
  height: 25px;
  object-fit: cover;
}

.page .instagram {
  position: relative;
  width: 125px;
  height: 25px;
}

.page .facebook {
  position: relative;
  width: 107px;
  height: 25px;
}

.page .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  flex: 0 0 auto;
}

.page .copyright-circle {
  position: relative;
  width: 24px;
  height: 24px;
}

.page .element-copyright-all {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--paragraph-progress-15-font-family);
  font-weight: var(--paragraph-progress-15-font-weight);
  color: #767676;
  font-size: var(--paragraph-progress-15-font-size);
  letter-spacing: var(--paragraph-progress-15-letter-spacing);
  line-height: var(--paragraph-progress-15-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-progress-15-font-style);
}

#addSkillBtn {
  cursor: pointer;
}